body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

link {
  color: black;

}

section {
  padding: 0 20px;
}

#microPage {
  max-width: 800px;
  margin: 0 auto;
}

.default {
  padding: 50px;
  color: red;
  border: 1px solid red;
  text-align: center;
}

.gray {
  color: gray;
  background: black;
  min-height: 180px;
}

.gallery {
  padding: 20px;
}

.gallery--dark {
  background: gray;
  color: white;
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  width: 50%;
  padding: 10px;
  padding-left: 0;
  box-sizing: border-box;
}

.gallery__item:nth-child(2n) {
  padding-right: 0;
  padding-left: 10px;
}

.gallery__image {
  padding-bottom: 100%;
  position: relative;
}

.gallery__image img{
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
}

.text_image_block{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  padding: 15px;
}

.text_image_block--inverted{
 flex-direction: row-reverse;
}

.text_image_block--dark{
background: gray;
}

.press_container{
  align-items: center;
  border: solid 1px rgba(131, 131, 131, 0.61);
  border-radius: 10px;
  box-shadow: rgba(61, 61, 61, 0.56);
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 50px;
  max-height: auto;
  padding: 5px;
}

.press_header{
  text-align: center;


}

.press_image{
  height: 100%;
  object-fit: cover;
  padding-right: 25px;
  width: 50%;

}

.press_social{
  display: flex;
  
}